.login_content{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.login_tittle{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.login_tittle h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 3rem;
}

.login_tittle p{
    margin-top: 1rem;
    text-align: center;
    font-size: 18px;
}

.form_container{
    width: 100%;
    height: 75%;
}

.form_container form{
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container form input{
    width: 90%;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    border: 0.2px solid #000000;
    border-radius: 5px;
    font-size: 18px;
}

.form_container form input::placeholder{
    font-size: 18px;
}

.form_container form input:focus{
    outline: none;
    border: none;
}

.form_container form button{
    width: 90%;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    border: 0.2px solid #000000;
    border-radius: 5px;
    background-color: #000000;
    font-size: 18px;
    color: #ffffff;
    margin-top: 2.5rem;
}

.form_container form a{
    text-decoration: none;
    font-size: 16px;
    padding-top: 1rem;
    padding-left: 7.5rem;
    transition: all ease-in 0.3s;
}

@media (prefers-color-scheme: dark) {
    .form_container form button {
        background-color: #ffffff;
        color: #000000;
    }

    .form_container form input {
        background-color: #000000;
        color: #ffffff;
        border: 0.2px solid #ffffff;
    }

    .form_container form input::placeholder {
        color: #ffffff;
    }

}
