<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full">
    <div class="w-full h-full justify-center">
      <form [formGroup]="registerForm"
        class="justify-center align-middle w-full h-full flex flex-col gap-3 register_form"
        (ngSubmit)="validateRegister()">
        <input type="text" placeholder="Identificacion" formControlName="dni_id">
        <input type="text" placeholder="Nombre Completo" formControlName="name">
        <input type="text" placeholder="Correo Electronico" formControlName="email">
        <input type="password" placeholder="Contraseña" formControlName="password">
        <button class="rounded-2xl text-center bg-black text-white w-48 h-12 self-center"
          type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</ion-content>